body {
    background-color: beige;
}
* {
    box-sizing: border-box
}
.container {
    width: 100%;
    background-color: #ddd;
}
.skills {
    text-align: right;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
}
.html {
    width: 85%;
    background-color: #4CAF50;
}
.css {
    width: 80%;
    background-color: #2196F3;
}
.js {
    width: 25%;
    background-color: #f44336;
}
.java {
    width: 70%;
    background-color: #808080;
}
.python {
    width: 60%;
    background-color: #808;
}
.c {
    width: 40%;
    background-color: #66ffff;
}
